@font-face {
    font-family: 'font_main';
    src: url( '../fonts/ProximaNova-Light.otf' ) format( 'opentype' );
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font_main';
    src: url( '../fonts/ProximaNova-Semibold.otf' ) format( 'opentype' );
    font-weight: bold;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

html {
    font-size: 62.5%; // 10px
}

body {
	font-family: 'font_main';
	font-size: 1.6rem; // 16px
	font-weight: normal;
	line-height: 1;
    color: inherit;
}

strong {
	font-weight: bold;
}

.row {
	margin: 0 -15px;
}

.container {
	max-width: 990px;
	margin: 0 auto;
	padding: 30px 15px 0 15px;
	overflow: hidden;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

.col {
	float: left;
	width: 100%;
	padding: 0 15px;
	min-height: 1px;
}

.col_3 {
	float: left;
	width: 25%;
	padding: 0 15px;
	min-height: 1px;
}

.col_6 {
	float: left;
	width: 50%;
	padding: 0 15px;
	min-height: 1px;
}

.col_9 {
	float: left;
	width: 75%;
	padding: 0 15px;
	min-height: 1px;
}

@media ( max-width: 768px ) {
	.col_3,
	.col_6,
	.col_9 {
		width: 100%;
	}
}